.fondoNav{
    z-index: 1000;
    position: fixed;
    display: flex;
    bottom: 0;
    justify-content: left;
    width: 100%;
    height: 3rem;
    background-color:#11111199;
    backdrop-filter: blur(5px);
}
.navContainer{
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 15rem;
    height: 5rem;
    justify-self: center;
    align-items: center;
    align-self:flex-end;
    transition: .3s;
}
.navContainer:hover{
    width: 20rem;
    transition: .3s;
    
}
.linkB{
    text-decoration: none;
}
.linkB button, .linkB button:focus{
    background-color:#ed6c23;
    color: #111111;
    width: min-content;
    height: min-content;
    font-size: 16px;
    transition: .3s;
    border: none;
    margin-inline: 5px;
    outline: none;
}
.linkB button:hover{
    font-size: 24px;
    transition: .3s;
}
