.proyectContainer{
    position: absolute;
    top: 9rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding-bottom: 5rem;
}
.proyect{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: fit-content;
    height: fit-content;
    margin-inline-start: 5px;
    background-color: rgb(168, 170, 171);
    font-size: 20px;
    border-radius: 15px;
    border: 3px solid rgb(168, 170, 171);
}
@media only screen and (max-width:1000px){
    .proyect{
        margin: 0 auto;
    }
}
.proyect a{
    display: flex;
    flex-direction: column;
    text-align: center;
    object-fit: contain;
    color: rgb(233, 123, 20);
    text-shadow: black  1px 0px;
    font-size: 24px;
    font-weight: bold;
}
.proyect a:hover{
    color:rgb(211, 109, 14);
}

.proyect a img{
    width: 20rem;
    height: auto;
    padding-top: 10px;
    object-fit: contain;
    border: none;
    margin: 0 auto;
}
.delay p{
    background-color: rgb(221, 221, 221);
    width: 20rem;
    padding: 10px;
}
