.layoutResumen{
    position: absolute;
    top: 8rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 40rem;
}

.divisor{
    position: absolute;
    justify-self: center;
    z-index: 1000;
    width: 3px;
    height: 30rem;
    background-color: black;
    z-index: 1;
}
.sobre{
    justify-self: center;
 display: flex;
 flex-direction: column;
 height: auto;
 width: 90%;
}
.sobre h1{
    text-align: center;
}
.sobre p{
font-size: 20px;
text-align: center;
}
ul{
    list-style: none;
}
li img{
    width: 3rem;
    height: 3rem;
    padding-inline-end: 5px;
}
.contacto{
    margin: 5px;
    justify-self: center;
    width: 90%;
}
.contacto h1{
    text-align: center;
}
li{
    padding-bottom: 5px;
    display: flex;
    justify-content: left;
    
}
.contacto ul li a{
    color: rgb(90, 88, 88);
    padding-inline-start: 5px;
}
@media only screen and (max-width: 1000px){
    .layoutResumen{
        position: absolute;
        top: 8rem;
        display: flex;
        flex-direction: column;
    }
    .sobre{
        display: flex;
        margin: 0 auto;
    }
    .sobre p{
        justify-self: center;
    }
    .divisor{
        display: none;
    }
    li{
        padding-bottom: 5px;
        display: flex;
        justify-content: left;
        
    }
    li img{
        width: 2rem;
        height: 2rem;
        padding-inline-end: 5px;
    }
    .contacto ul li{
        font-size: 20px;
    }
    .contacto ul li a{
        color: rgb(90, 88, 88);
        padding-inline-start: 5px;
    }
    ul{
        padding-bottom: 5rem;
    }
}
